# Default ignored files
/../../../../../../JUANDE~1/AppData/Local/Temp/Fundamentos.py10969371990080545150/.idea/shelf/
/../../../../../../JUANDE~1/AppData/Local/Temp/Fundamentos.py10969371990080545150/.idea/workspace.xml
